[submodule "externals/parallel_bus_driver"]
	path = externals/parallel_bus_driver
	url = https://github.com/meteorTriangle/LCD_parallel_bus_driver.git
	branch = main
[submodule "externals/parallel_bus_driver/"]
	branch = main
